* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;


    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0A0;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: linear-gradient( 90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background: linear-gradient(#D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);


    --ff-sora: "Sora", sans-serif;
    --ff-roboto-mono: "Roboto Mono", monospace;
    --ff-roboto-flex: "Roboto Flex", sans-serif;

    --display-lg: 800 4.5rem/130% var(--ff-sora);
    --display-md: 800 2.5rem/130% var(--ff-sora);
    --display-sm: 700 2rem/130% var(--ff-sora);

    --overline: 700 1rem/150% var(--ff-roboto-mono);
    --result: 700 2rem/150% var(--ff-roboto-mono);

    --paragrph-lg: 500 1rem/150% var(--ff-roboto-flex);
    --paragrph-md: 500 .875rem/150% var(--ff-roboto-flex);
    --paragrph-sm: 400 .75rem/150% var(--ff-roboto-flex);
    --label-md: 700 1.25rem/150% var(--ff-roboto-flex);
    --label-sm: 700 1rem/150% var(--ff-roboto-flex);
}

body {
    background-color: var(--background-primary);
    background-image: url(../assets/background.svg);

    width: 100%;
    max-width: 70.25rem;
    display: grid;
    margin-inline: auto;

    grid-template-areas:
        "a a"
        "b c"
        "d c"
    ;

    header{
        grid-area: a;
    }
    .title {
        grid-area: b;
    }
    ul {
        grid-area: d;
    }
    .right {
        grid-area: c;
    }

    & .flex {
        display: flex;
    }

    & .gap-05 {
        gap: .5rem;
    }

    & .align-items {
        align-items: center
    }
}

@media (width <= 48rem) {
    body{
        grid-template-areas:
        "a"
        "b"
        "c"
        "d";

        .right{
            width: 19.9375rem;
            height: 27rem;
            display: grid;
            margin-inline: auto;
        }
    }
}