header{
    width: 100%;
    max-width: 70.25rem;
    padding-left: 7.5rem;
    margin-block: 4.75rem 5.5625rem;
    margin-inline: auto;
    display: flex;
}

@media (width <= 48rem) {
    header{
    margin-block: 2.75rem 2.875rem;
      justify-content: center; 
      padding-left: 0; 
    }
}