.title {
    width: 100%;
    max-width: 32rem;
    p {
        font: var(--overline);
        color: var(--content-secondary);
        text-transform: uppercase;
    }
    h1 {
        font: var(--display-lg);
        color: var(--content-primary);
        text-transform: uppercase;
    }
}

@media (width <=48rem ) {
   .title{
        max-width: 19.9375rem;
        margin-inline: auto;
        display: grid;
        justify-content: center;

        h1 {
            font: var(--display-md);
        }
    }

}