.title {
    width: 100%;
    max-width: 32rem;
    p {
        font: var(--overline);
        color: var(--content-secondary);
        text-transform: uppercase;
    }
    h1 {
        font: var(--display-lg);
        color: var(--content-primary);
        text-transform: uppercase;
    }
}